
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

a:focus {
    outline:none !important;
}

body{
  font-size: 15px;
  line-height: 1;
  font-family: Verdana;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  overflow:hidden;
}

#showcase{
  background:url('../img/yak.png') no-repeat;
  background-size: 100%;
  min-height:900px;
  text-align:center;
  opacity:.9;
  color:#ffffff;
}

#showcase h1{
  margin-top:20%;
  font-size:40px;
  margin-bottom:10px;
  vertical-align: middle;
  opacity:1;
}

#showcase h1:hover{
  cursor: default;
  opacity:1;
}

#showcase h3:hover{
  cursor: default;
}

#boxes img{
  width:60px;
  margin: 50px 20px 0 20px;
  top: 0;
}

@keyframes slide_in{
    0%   {top:500px;}
    100% {top:0px;}
}

/* The element to apply the animation to */
#linkedin{
    position: relative;
    animation-name: slide_in;
    animation-duration: .4s;
}
#github{
    position: relative;
    animation-name: slide_in;
    animation-duration: .6s;
}
#resume{
    position: relative;
    animation-name: slide_in;
    animation-duration: .8s;
}
#email{
    position: relative;
    animation-name: slide_in;
    animation-duration: 1s;
}
